.social-icons-left, .social-icons-right {
  text-align: center;
  float: none;
}

.social-icons {
  font-size: 1.25rem;
  padding: 0.5em 0 0 0;
  width: 100%;
}

.social-icons a.fa {
  cursor: pointer;
  opacity: 0.8;
  padding: 0.2em;
}

.social-icons a.fa:hover {
  opacity: 1;
  color: #2196F3;
}

.social-icons iframe[title=Flattr] {
  position: relative;
  top: 0.1em;
}

.br-icon::after,
.us-icon::after {
  content: '';
  position: static;
  display: inline-block;
  width: .7em;
  height: .7em;
  margin-left: .25em;
  background-repeat: no-repeat;
  background-position: 0 3px;
  background-size: .7em .7em;
}

.br-icon::after {
  background-image: url('/images/icons/br.svg');
}

.us-icon::after {
  background-image: url('/images/icons/us.svg');
}

.headshot {
  float: left;
  margin-right: 1em;
}
